/*! CAJAS */
.cajas {
  margin-inline: 120px;
}
/*/ caja*/
.caja {
  background: rgb(238, 238, 238);
  width: 200px;
  height: 100px;
  padding: 20px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: flex-end;
  float: left;
  border-radius: 5px;
  margin: 40px 0 20px 10px;
}
/*img caja*/
.caja img {
  top: -50px;
  vertical-align: top;
  position: absolute;
  width: 200px;
  height: 120px;
  border-radius: 5px;
}
/*botones btns caja*/
.caja .btns-caja {
  text-align: left;
  vertical-align: bottom;
}
.btns-caja .btn-caja-1 {
  text-decoration: none;
  padding: 10px;
  padding-inline: 22px;
  background: rgb(52, 101, 216);
  color: white;
  border-radius: 5px;
}
.btns-caja .btn-caja-2 {
  text-decoration: none;
  padding: 10px;
  padding-inline: 22px;
  background: rgb(167, 170, 175);
  color: white;
  border-radius: 5px;
}
